<div class="row">
	<div class="col-md-6 col-md-offset-3">

		<% flash.each do |key, value| %>
		  <div class="alert alert-primary" <%= key %> >
		    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		    <%= value %>
		   </div>
		<% end %>

		<% if user_signed_in? %>
			<%= link_to "Buat Diskusi", new_forum_thread_path, class: 'btn btn-primary' %>
		<% end %>


		<% @thread.each do |t| %>
		<% if t.status == true %>

		<div class="thread"><br>
			<h4> <%= link_to t.title.titleize, forum_thread_path(t) %> </h4>
			<div class="meta">
				<%= I18n.l(t.created_at.to_date) %> oleh <%= t.user.name %>
			</div>

			<div class="content">
				<%= t.content %>
			</div>

			<% unless current_user && current_user.role == 'admin' %>
			<% if user_signed_in? %>
			<div class="row" style="padding-left: 15px;">
					<%= button_to("Dislike", dislike_thread_forum_thread_like_path(current_user.id, t), method: :patch, :disabled =>  t.liked_by_user(current_user) == false) %>
				<div class="like" style="padding-left: 40px;">
					<%= button_to("Like", like_thread_forum_thread_like_path(current_user.id, t), method: :patch, :disabled =>  t.liked_by_user(current_user) == true) %>
				</div>
			</div>

			<% end %>

        	<%else%>
        	
			<% end %>

			<div class="count">
				<%= t.forum_posts.count %> obrolan
			</div>

			<div style="clear: both"></div>
		</div>
		<% end %>
		<% end %>
		
		<div><br>
			<%== pagy_bootstrap_nav(@pagy) %>
		</div>

	</div>
</div>