<div class="row">
	<div class="col-md-6 col-md-offset-3">

		<% if user_signed_in? %>
			<%= link_to "Buat Diskusi", new_forum_thread_path, class: 'btn btn-primary' %>
		<% end %>


		<% @thread.each do |t| %>
		<% if t.status == true %>

		<div class="thread"><br>
			<h4> <%= link_to t.title.titleize, forum_thread_path(t) %> </h4>
			<div class="meta">
				<%= I18n.l(t.created_at.to_date) %> oleh <%= t.user.name %>
			</div>

			<div class="content">
				<%= t.content %>
			</div>

			<% if user_signed_in? %>
						<%= button_to "Like", like_thread_forum_thread_path(current_user.id), method: :patch %>
						<%= button_to "Dislike", dislike_thread_forum_thread_path(current_user.id), method: :patch %>
			<% end %>

			<div class="count">
				<%= t.forum_posts.count %> obrolan
			</div>

			<div style="clear: both"></div>
		</div>
		<% end %>
		<% end %>


	</div>
</div>